Source: alice-regex
Section: devel
Priority: optional
Build-Depends: debhelper (>= 4.0.0), alice-dev
Maintainer: Guido Tack <tack@ps.uni-sb.de>
Standards-Version: 3.6.0

Package: alice-regex
Architecture: any
Depends: ${shlibs:Depends}, alice
Description: The Alice Regex binding
