BODY {
	background:	url(bg.gif) repeat-y white;
	position:	relative;
	margin-left:	200px;
	margin-right:	10px;
}

.margin {
	position:	absolute;
	left:		20px;
	width:		150px;
	color:		#0256A2;
	text-align:	left;
}

.logo {
	position:	absolute;
	top:		0px;
	right:		0px;
	margin-top:	20px;
	margin-right:	20px;
}

A:link {
	color:		#00c000;
	text-decoration: none;
}

A:visited {
	color:		#009000;
	text-decoration: none;
}

A:hover {
	text-decoration: underline;
}

H1, H2 {
	font-weight:	bold;
	font-family:	"Courier New", Courier, Monospace;
	text-align:	left;
}

H1 {
	font-size:	150%;
}

H1.margin {
	position:	absolute;
	font-size:	150%;
	color:		white;
}

H2 {
	font-size:	130%;
	color:		#ff8833;
}

H3 {
	font-size:	110%;
	font-family:	arial, helvetica, sans-serif;
}

PRE.code {
	margin-left:	1.5cm;
}

P.quote {
	margin-left:	1.5cm;
	font-style:	italic;
}

A.url, TT {
	font-family:	"Courier New", Courier, Monospace;
}

P.note, DIV.note {
	font-size:	80%;
}

P.menu {
	margin-top:	2cm;
	width:		100%;
	font-family:	arial, helvetica, sans-serif;
}

TABLE TR {
	vertical-align:	baseline;
}
TABLE.bnf {
	font-family:	"Times New Roman", Times, Helvetica, Serif;
	border-style:	none;
}


TABLE.bnf TT {
	font-family:	"Courier New", Courier, Monospace;
	font-size:	100%;
}

TABLE.dyptic {
	width:		80%;
}

TABLE.dyptic TH, TABLE.dyptic TD {
	text-align:	left;
	padding:	3px;
	background:	#eeeeee;
}
