Source: alice-runtime
Section: devel
Priority: optional
Build-Depends-Indep: debhelper (>= 4.1.6)
Maintainer: Guido Tack <tack@ps.uni-sb.de>
Standards-Version: 3.6.0

Package: alice-runtime
Architecture: all
Depends: alice
Recommends:
Suggests:
Description: The Alice system (Runtime)
