Source: alice-gecode
Section: devel
Priority: optional
Build-Depends: debhelper (>= 4.0.0), alice-dev, gecode
Maintainer: Guido Tack <tack@ps.uni-sb.de>
Standards-Version: 3.6.0

Package: alice-gecode
Architecture: any
Depends: ${shlibs:Depends}, alice
Description: The Alice Gecode binding
